* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
/*----------HeadSection--------------*/
.header{
   
	width: 100%;
    background-color: #268faf;
    height: 110px;
	position: relative;
}
nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
    padding: 2% 6%;
} 
.logo{
     width: 143px; 
     border:5px solid #ffffff;
     margin-top: -25px;
      
}

 .nav-links{
    flex: 1;
	text-align: right;

 }
 .nav-links li {
    list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
 }
 .nav-links li a{
    text-decoration: none;  
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
 }
 .nav-links li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #54b4e0;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links li:hover::after{
	width: 100%;
}


.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.4s;
  }
.button:hover {
    background-color: #a3170d;
    color: rgb(255, 255, 255);
}