:root {

  --primary:#268faf;
  --dark: #21252f;
  --body: #888;
  --white: #ffffff;
  --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body {

  font-family: "Sora", sans-serif;
  line-height: 1.7;
  color: var(--body);
}

h1,h2,h3,h4,h5,h6,

.display-4 {

  color: var(--dark);
  font-weight: 3000;
}

a {
  color: var(--dark);
  text-decoration: none;
}

img {
width: 100%;
}

.btn {
  padding: 10px 15px;
  border-width: 1px;
  border-radius: 0;
}


/*--Background image--*/

.hero {
    background-image: url(team.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    
}
.display-6{
  font-style: italic;
}


.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 20, 51, 0.8);
    z-index: -1;
}

/*--Background image--*/
